- video_slicktrabutes = '{"slidesToShow": 5, "slidesToScroll": 1, "rows": 3, "infinite": false, "responsive": [{"breakpoint": 1024, "settings": { "slidesToShow": 3, "slidesToScroll": 3, "infinite": true } }, { "breakpoint": 600, "settings": { "slidesToShow": 2, "slidesToScroll": 2 } }, { "breakpoint": 480, "settings": { "slidesToShow": 2, "slidesToScroll": 1 } }] }'

#video-hero{style: "padding: 45px 0px 90px 0px; background-color: #000000;"}
  .video-container
    =render 'videos/issue_video_montage', videos: @videos, title: @issue.name
#issue-block__container.container-fluid
  .row
    .col-md-6.col-md-offset-1
      %h3.lightblue="Whats this all about?"
      %p=@issue.description
    .col-md-2
      %p="For this issue"
      %h1=@for_votes
    .col-md-2
      %p="Against this issue"
      %h1=@against_votes
    .col-md-2
      %p="Total videos for this issue"
      %h1=@issue_video_count
    .col-md-2
      %p="Share this issue"
      =render 'share_buttons'
#issue-related__videos.container-fluid
  %h3.lightblue="More Videos About #{@issue.name}"
  = render 'videos/video_carousel', videos: @videos, slicktrabutes: video_slicktrabutes, issue: @issue, title: "hide"
#how-it-works__container.container-fluid
  .row
    %h3.lightblue="How It Works"
    .col-md-6.col-md-offset-3.darkblue
      = render 'call_to_action', text: t('call_to_action.everybody_opinion'), sub_text: t('call_to_action.opinion_sub_html'), button_text: t('call_to_action.share_button')
