# Run shell commands during a deployment
commands:
  01_create_shared dir:
    command: "sudo mkdir -p /var/app/current/app/shared/pids /var/app/current/app/shared/sockets /var/app/current/app/shared/log"
  02_change_permissions:
    command: "sudo chown -R webapp:webapp /var/app/current/app/shared"
    