option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "/health"
  aws:elasticbeanstalk:application:environment:
    BUNDLE_WITHOUT: test:development
    FACEBOOK_APP_ID_PRODUCTION: 1396852067022847
    RACK_ENV: production
    RAILS_ENV: production
    RAILS_SKIP_ASSET_COMPILIATION: false
    RAILS_SKIP_MIGRATIONS: false
    LOGGING: debug
    SECRET_KEY_BASE: bd5846141024e37f91fbbf3dc7d384b24303230525808d3628c9dcbf95e3077ac24626bb8ee43a73fe84868a877ea5ad44ce828c7cb463ac4732f9366c3b53a3
    STI_RDS_DB_NAME: seetheissue_production
    STI_RDS_USERNAME: sti_admin
    STI_RDS_PASSWORD: Amethist6-trike-4dog-Blast5
    STI_RDS_HOSTNAME: seetheissue-production.coojldknmlhs.us-east-1.rds.amazonaws.com
    STI_RDS_PORT: 3306
    MAX_THREADS: 8
    PORT: 80
    WEB_CONCURRENCY: 1
