option_settings:
  aws:elb:loadbalancer:
    SecurityGroups: sg-26dd5f4e
  aws:elb:listener:
    ListenerProtocol: HTTP
    InstancePort: 80
    ListenerEnabled: true
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstanceProtocol: HTTP
    InstancePort: 80
    ListenerEnabled: true
    SSLCertificateId: arn:aws:acm:us-east-1:776114230139:certificate/6b5afa8f-46b3-493d-b465-7917dae91a81
