option_settings:
  aws:elb:loadbalancer:
    SecurityGroups: sg-26dd5f4e
  aws:elb:listener:
    ListenerProtocol: HTTP
    InstancePort: 80
    ListenerEnabled: true
  aws:elb:listener:443:
    ListenerProtocol: HTTPS
    InstanceProtocol: HTTP
    InstancePort: 80
    ListenerEnabled: true
    SSLCertificateId: arn:aws:acm:us-east-1:473857408762:certificate/b43ba8ec-ed29-40bf-97d3-2157c41bed19
