- video_slicktrabutes = '{"slidesToShow": 5, "slidesToScroll": 1, "rows": 1, "infinite": false, "responsive": [{"breakpoint": 1024, "settings": { "slidesToShow": 3, "slidesToScroll": 3, "infinite": true } }, { "breakpoint": 600, "settings": { "slidesToShow": 2, "slidesToScroll": 2 } }, { "breakpoint": 480, "settings": { "slidesToShow": 2, "slidesToScroll": 1 } }] }'
#profile__container.container-fluid
  .row
    .col-md-12
      =form_for current_user do |f|
        %table{width: "100%"}
          %tr.profile__row
            %td
              %h3=t('.username')
              %h3.lightblue=current_user.username
              =f.text_field :username, style: "display:none;", id: "user_edit_username"
            %td
              %button{class: "byb btn edit", data: {button: "#user_edit_username"}}="Edit"
          %tr.profile__row
            %td
              %h3=t('.email')
              %h3.lightblue=current_user.email
              =f.text_field :email, style: 'display:none', id: "user_edit_email"
            %td
              %button{class: "byb btn edit", data: {button: "#user_edit_email"}}="Edit"
        =f.submit "Update Profile", class: "byb btn"
  .row
    .col-md-12
      = render 'videos/video_carousel', videos: @user.videos, slicktrabutes: video_slicktrabutes, title: "Your Videos"

