= react_component("VideoIndex", videos: @videos)

.container
  = react_component("IssueNavigator")
  .row
    .col-md-12
      %h1="This rocks"
      - if user_signed_in?
        = form_for Video.new do |f|
          =f.file_field :content, {accept: "video/*;capture=camcorder"}
          =f.select :category_id, Category.all.collect {|cat| [cat.name, cat.id]}, class: 'form-control', include_blank: true
          =f.submit
      - else
        %button.btn.btn-info{type: "button", data: {toggle: 'modal', target: '#signupModal'}}="Sign in to post a video"
  .row
    .col-md-12
      %h1="Healthcare"
      .testing
        = react_component("VideoBox", videos: @videos)
      / - @videos.each do |video|
      /   %div{style: "width: 400px; height: 270px; float:left;"}
      /     = react_component("VideoThumbnail", id: video.media_id, size: "medium")
      /     /= javascript_include_tag(video_embed_tag(video.media_id))
      /     = render 'share_buttons'
