.carousel {
  .carousel__category, .carousel__issue {
    position: relative;
    width: 50%;
    h3 {
      color: #fff;
      position: absolute;
      top: 0px;
      left: 0px;
      text-align:center;
      line-height: 135px;
      margin: 0;
      background: rgba(0,0,0,.2);
      width: 220px;
      height: 100%
    }
  }
}

#categories-back__btn {
  font-size: 1.5em;
  color: $sti-darkblue;
}
