.btn {
  border-radius: 5px;
  color: #48535B;
  padding: 16px 38px 16px 22px;

  &.byb {
    background-color: $sti-yellow;
    font-family: "Open Sans";
    font-weight: bold;
  }
  img {
    display:inline-block;
    margin-right: 16px;
  }
  p {
    display:inline-block;
    margin: 0;
  }
}

.darkblue {
  background-color: $sti-darkblue
}

.bold {
  font-weight:bold;
}

.clear {
  clear:both;
}

.error {
  color: red;
}

.call_to_action {
  text-align:center;
  min-height: 267px;
  padding: 39px 0 25px 0;
  h1 {
    margin-bottom: 25px;
  }
}

.white__container {
  background-color:#fff;
}


.twitter-share {
  img {
    width: 35px;
  }
}


.facebook-share {
  img {
    width: 18px;
  }
}

.auth__modal {
  .alert {
    margin-bottom: 15px;
  }

  .btn {
    text-decoration: none;
  }

  .auth__modal__remember {
    margin-left: 20px;
  }

  .sign-up, .log-in {
    font-size: 17px;
    padding: 12px;
  }

  .checkbox label {
    padding-top: 2px;
    padding-left: 0;
  }

  .modal-content {
    background: $sti-darkblue;
  }

  .button_to {
    margin-bottom: 15px;
  }

  .modal-footer p {
    margin-top: 4px;
  }

  button[type="submit"] {
    background-color: #F9E900;
  }
}

.auth__modal__error {
  margin: 0;
}

.auth__modal__errors {
  display: none;
}

.auth__modal__remember {
  margin: 0;
}

#uploadModal {
  .modal-header {
    border: none;
  }

  .modal-content {
    background-color: $sti-darkblue;

    label {
      font-size: 25px;
    }

    select, input[type="text"], textarea {
      width: 245px;
      height: 37px;
      color: black;
      font-size: 20px;
    }

    input[type="file"] {
      margin: 0px auto;
    }

    #category-select__container, #title-input__container{
      float:left;
    }

    #issue-select__container, #description-input__container {
      float:right;
    }

    #second-upload__step > div:first-child {
      padding-top: 15px;
      border-top: 1px solid #eeeeee;
      padding-bottom: 5px;
      border-bottom: 1px solid #eeeeee;
    }

    .support {background-image:url('Thumb up selected.png');}
    .oppose {background-image:url('Thumb down selected.png');}

    input[type="radio"]{
      margin: 6px;
      padding: 5px;
      cursor: pointer;
      z-index: 9999;
      position: absolute;
      -webkit-appearance: none;
         -moz-appearance: none;
              appearance: none;
    }

    input[type="radio"]:focus {outline:none;} 
    input[type="radio"]::-moz-focus-inner {border:0;}

    input[type="radio"]:active +label{opacity: .9;}
    input[type="radio"]:checked +label{
        -webkit-filter: none;
           -moz-filter: none;
                filter: none;
    }
    .vote__selector{
        font-size: 13px;
        cursor:pointer;
        background-size: contain;
        background-repeat:no-repeat;
        display: inline-block;
        width:100px;
        height:20px;
        -webkit-transition: all 100ms ease-in;
           -moz-transition: all 100ms ease-in;
                transition: all 100ms ease-in;
        -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
           -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
                filter: brightness(1.8) grayscale(1) opacity(.7);
    }
    .vote__selector:hover{
        -webkit-filter: brightness(1.2) grayscale(0) opacity(.9);
           -moz-filter: brightness(1.2) grayscale(0) opacity(.9);
                filter: brightness(1.2) grayscale(0) opacity(.9);
    }
  }
}
