.navbar-collapse.in { 
  width: 233px;
  margin: 0px auto;
  border: none;
}

.navbar-toggle {
  float: none;
  right: -38%;
}

.navbar-default {
  background-color: #38414A !important;
  color: #fff;
  padding: 27px 90px 0 95px;
  @media (max-width: $screen-md-min) {
    padding-left: 30px;
  }
  border: none !important;
}

.navbar-brand {
  padding: 0 !important;
  background-image: image-url("logo.png");
  width: 133px;
  height: 115px;

  @media (max-width: $screen-xs-max) {
    background-image: image-url("logo-horizontal.png");
    width: 184px;
    height: 38px;
  }
}

.navbar-nav span {
  width: 235px;
  font-size: 15px;
  display:block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.navbar-nav > li {
  margin-left: 10px;
  a {
    font-size: 24px;
    color: #fff !important;
  }
}


ul.navbar-nav {
  list-style-type: none;
  margin-left: 6%;
  margin-top: 4%;

  li {
    display:inline-block;
    position: relative;
  }
}

#right-content {
  float:right;
}

#issue-navigator {
  position: absolute;
  left: -85px;
  top: 96px;
  z-index: 9999;
  background-color: $sti-yellow;
  color: #000;
  padding: 40px 98px;

  #issue-content {
    width: 210px;
    height: 100%;
  }

  .hidden {
    width: 0px;
  }

  .category__container {
    border-bottom: 1px solid #A09507;
    padding: 25px 0px;
  }

  .category, .category span {
    font-size: 22px;
    font-weight: bold;
  }

  .plus, .minus {
    display: inline;
    margin-left: 4px;
  }

  a {
    font-size: 16px;
  }

  .issues {
    margin-left: 35px;
    margin-top: 38px;

    a {
      display:block;
      color: #000 !important;
      margin-bottom: 25px;
    }
  }

}


// @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
  .navbar-collapse.collapsing {
    display:none !important;
  }
// }