@font-face {
  font-family: "Festivo LC Basic";
  src: url("/fonts/FestivoLC-Basic.ttf") format("ttf"),
       url("/fonts/FestivoLC-Basic.woff") format("woff");
}

@font-face {
  font-family: "Bebas";
  src: url("/fonts/Bebas.ttf") format("ttf"),
       url("/fonts/Bebas.woff") format("woff");
}

@font-face {
  font-family: "Festivo LC Basic R Shadow";
  src: url("/fonts/FestivoLC-BasicRShadow.ttf") format("ttf"),
       url("/fonts/FestivoLC-BasicRShadow.woff") format("woff");
}

body {
  background-color: $sti-darkblue !important;
  color: #fff !important;
  font-family: 'Festivo LC Basic', serif;
}

/*
  Video index
*/

.categories-explore {
  padding: 60px;
}

.videos-explore {
  h3 {
    margin-left: 7.5%;
  }
}

h3 {
  &.lightblue {
    color: $sti-lightblue;
    font-family: "Festivo LC Basic R Shadow";
  }

  &.lighterblue {
    color: $sti-lighterblue;
    font-family: "Festivo LC Basic R Shadow";
  }
}

.how-it-works {
  padding: 80px 0;
  text-align:center;
}

/*
  End Video Index
*/

/*
  Issue show
 */

 #issue-block__container {
  color: black;
  .row:first-child {
    padding: 40px 0px;
    background-color: #EBF5F6;
  }

  .row:nth-child(2) {
    background-color: #fff;
    padding: 40px 0px;
  }
 }

/*
  End Issue show
 */

/*
  How it Works 
*/

#how-it-works__container {
  .row {
    background-color:#fff;
    padding: 50px;
  }
}

/*
  End How it works
 */
