- jwUrl = "http://content.jwplatform.com/thumbs/"
- sizes = {small: "186", medium: "480", large: "720"}

.carousel__container
  %p=title
  .carousel{data: {slick: slicktrabutes}}
    - videos.each do |video|
      .carousel__category{data: {id: video.media_id, videobox:"video"}}
        =image_tag("#{jwUrl}#{video.media_id}-#{sizes[:small]}.jpg", width: sizes[:small])
